@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  /* background-color: #11101a; */
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11101a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .landing-bg-container {
    @apply h-[100vh] bg-fixed bg-no-repeat bg-cover bg-center transition-all relative;
  }
}

@font-face {
  font-family: "helvetica-ultralight";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-ultralight.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-thin";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-light";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-medium";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-bold";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-heawy";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-heawy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-capslight";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-caps-light.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "helvetica-capsmedium";
  src: local("helvetica"),
    url("./assets/fonts/geo/helvetica-georgian-caps-medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}
